@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap");
@import "tailwindcss";


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-3px); }
  40%, 80% { transform: translateX(3px); }
}

.shake:hover {
  animation: shake 0.3s ease-in-out;
}

.titulo{
  font-family: "Stack Sans Notch", sans-serif;
}

.outfit{
  font-family: "Outfit", sans-serif;
}